<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.CounterMapper">
	<select id="selectCntByToday" resultType="com.example.diary.vo.Counter">
		SELECT cnt_date cntDate,
				cnt_num cntNum
		FROM counter
		WHERE cnt_date = CURDATE()
	</select>
	
	<insert id="insertCnt">
		INSERT INTO counter(
			cnt_date,
			cnt_num)
		VALUES(
			CURDATE(),1)
	</insert>
	
	<update id="updateCnt">
		UPDATE counter SET
			cnt_num = cnt_num + 1
		WHERE cnt_date = CURDATE()
	</update>
	
	<select id="selectCntSum" resultType="Integer">
		SELECT SUM(cnt_num)
		FROM counter
	</select>
</mapper>