<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.NoticeMapper">

	<select id="selectNoticeList"
			parameterType="java.util.Map"
			resultType="com.example.diary.vo.Notice">
		SELECT
			notice_no noticeNo,
			notice_title noticeTitle,
			createdate
		FROM notice
		ORDER BY notice_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<select id="selectNoticeOne"
			parameterType="com.example.diary.vo.Notice"
			resultType="com.example.diary.vo.Notice">
		SELECT
			notice_no noticeNo,
			notice_title noticeTitle,
			notice_content noticeContent,
			createdate
		FROM notice
		WHERE notice_no = #{noticeNo}
		</select>
	
	<insert id="insertNotice" parameterType="com.example.diary.vo.Notice">
		INSERT INTO notice(
			member_id,
			notice_title,
			notice_content,
			notice_pw
		)	VALUES (
			'admin', 
			#{noticeTitle},
			#{noticeContent},
			PASSWORD(#{noticePw})
		)
		</insert>
		
	<insert id="selectComment" parameterType="com.example.diary.vo.Comment">
		INSERT into comment(
			notice_no,
			member_id,
			comment,
			is_secret,
			createdate
		)	VALUES (
			#{notice_no},
			#{member_id},
			#{comment},
			'Y'
		)
	</insert>
	
	<update id="updateNotice" parameterType="com.example.diary.vo.Notice">
		UPDATE notice SET
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent}
		WHERE notice_no = #{noticeNo}
		AND notice_pw = PASSWORD(#{noticePw})
	</update>
	
	<delete id="deleteNotice" parameterType="com.example.diary.vo.Notice">
		DELETE FROM notice
		WHERE notice_no = #{noticeNo}
		AND notice_pw = PASSWORD(#{noticePw})
	</delete>
	
	<select id="getTotalRow" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM notice
	</select>
	
	<select id="searchNotice" parameterType="java.util.Map" resultType="com.example.diary.vo.Notice">
		SELECT
			notice_no noticeNo,
			notice_title noticeTitle,
			createdate
		FROM notice
		WHERE notice_title LIKE CONCAT('%', #{noticeTitle}, '%')
		ORDER BY notice_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getTotalRow2" parameterType="com.example.diary.vo.Notice" resultType="int">
		SELECT COUNT(*)
		FROM notice
		WHERE notice_title LIKE CONCAT('%', #{noticeTitle}, '%')
	</select>
	
	<insert id="addComment">
		INSERT INTO comment
		(notice_no, member_id, comment, is_secret)
		VALUES(#{noticeNo}, #{memberId}, #{comment}, 'N')
	
	</insert>

</mapper> <!-- 인터페이스와 동일해야함 -->