<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.ScheduleMapper">

	<select id="selectScheduleListByDate"
			parameterType="java.util.Map"
			resultType="com.example.diary.vo.Schedule">
	
		SELECT
			schedule_no	scheduleNo,
			schedule_date	scheduleDate,		
			schedule_memo	scheduleMemo
		FROM schedule
		<where>
			<choose>
				<when test = "year != null and month == null and day == null">
					YEAR	(schedule_date) = #{year}
				</when>
				<when test = "year != null and month != null and day == null">
					YEAR	(schedule_date) = #{year}
					AND MONTH	(schedule_date) = #{month}
				</when>
				<when test = "year != null and month != null and day != null">
					YEAR	(schedule_date) = #{year}
					AND MONTH	(schedule_date) = #{month}
					AND DAY	(schedule_date) = #{day}
									
				</when>
			</choose>
		</where>
		LIMIT 0, 20
	</select>

	<!-- view: schedule -->
	<select id="selectScheduleDateMaxYear" resultType="Integer">
		SELECT MAX(YEAR(schedule_date))
		FROM schedule
	</select>

	<select id="selectScheduleDateMinYear" resultType="Integer">
		SELECT MIN(YEAR(schedule_date))
		FROM schedule
	</select>


	<select id="selectScheduleListByWord" parameterType="String"
				resultType="com.example.diary.vo.Schedule">
		SELECT
			schedule_no scheduleNo,
			schedule_memo scheduleMemo
		FROM
		schedule
		<where>
			<if test="word != ''">
				schedule_memo LIKE CONCAT('%',#{word},'%')
			</if>
		</where>
		LIMIT 0, 10 
	</select>

	<select id="selectScheduleListByMonth"
		parameterType ="java.util.Map"
		resultType="java.util.Map">
		
		SELECT DAY(schedule_date) scheduleDay, COUNT(*) cnt, 
				GROUP_CONCAT(SUBSTR(schedule_memo, 1, 5)) memo
			FROM schedule
			WHERE member_id = #{memberId} AND YEAR(schedule_date) = #{year} AND MONTH(schedule_date) = #{month}
			GROUP BY schedule_date
			ORDER BY schedule_date ASC
		
		</select>
		

	<select id="selectScheduleByDay"
		parameterType = "java.util.Map"
		resultType="java.util.Map">
			SELECT
				schedule_no scheduleNo,
				schedule_date scheduleDate,
				schedule_memo scheduleMemo
			FROM schedule
			WHERE member_id = #{memberId} AND schedule_date = CONCAT(#{year},'-',#{month},'-',#{day})
	</select>
	
	<insert id="insertSchedule" parameterType="com.example.diary.vo.Schedule">
		INSERT INTO schedule(
			member_id,
			schedule_date,
			schedule_memo,
			schedule_emoji
		)	VALUES (
			#{memberId},
			#{scheduleDate},
			#{scheduleMemo},
			#{scheduleEmoji}
		)
	</insert>

	<update id="updateSchedule" parameterType="com.example.diary.vo.Schedule">
		UPDATE schedule SET
		schedule_memo = #{scheduleMemo}
		WHERE schedule_no = #{scheduleNo}
	</update>
	
	<delete id="deleteSchedule" parameterType="com.example.diary.vo.Schedule">
		DELETE FROM schedule
		WHERE schedule_no = #{scheduleNo}
	</delete>
	
</mapper>